<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RondanetServiceSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://rondanet.com:58801/RondanetWS/RondanetService/RondanetImplementation"
            binding="basicHttpBinding" bindingConfiguration="RondanetServiceSoapBinding"
            contract="wsRondanet.Rondanet" name="RondanetPort" />
    </client>
  </system.serviceModel>
</configuration>